* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (min-width: 1400px) {
  body {
    max-width: 1400px !important;
  }
}

nav {
  background-color: #f9faf9;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%),
    0 1px 5px 0 rgb(0 0 0 / 12%);
}

.header__title {
  margin-top: 0.5rem;
  font: 400 20px 'Montserrat', sans-serif;
  text-transform: uppercase;
}

.header__link {
  color: #395792;
  text-decoration: none;
  outline: none;
}

.header__link:hover {
  color: #395792;
  text-decoration: none;
}

@media (min-width: 768px) {
  .header__title {
    font-size: 24px;
  }
}

@media (min-width: 992px) {
  .header__title {
    font-size: 28px;
  }
}

@media (min-width: 1200px) {
  .header__title {
    font-size: 34px;
  }
}

.container-height {
  min-height: 100vh;
  background-color: #3a5792;
}

.main__title-container {
  margin: 50px auto 20px;
  font: 700 26px 'Montserrat', sans-serif;
  background-color: #2e426a;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%),
    0 1px 5px 0 rgb(0 0 0 / 12%);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.main__features {
  color: #999999;
  font: 400 16px 'Montserrat', sans-serif;
  line-height: 1.5;
}

@media (min-width: 992px) {
  .main__title-container {
    margin: 50px 0 0 -25%;
    padding: 20px 160px;
    font: 700 30px 'Montserrat', sans-serif;
  }

  .main__features {
    font: 400 18px 'Montserrat', sans-serif;
    line-height: 1.5;
  }
}

@media (min-width: 1400px) {
  .main__title-container {
    margin: 60px 0 20px -20%;
    font: 700 32px 'Montserrat', sans-serif;
  }

  .main__features {
    line-height: 2;
  }
}

.navbar-user-name {
  margin: 0 15px;
  letter-spacing: 0.5px;
  text-transform: capitalize;
}
