* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: #a0ffa5;
}

.header__title {
  margin-top: 0.5rem;
  font: 400 20px 'Montserrat', sans-serif;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .header__title {
    font-size: 24px;
  }
}

@media (min-width: 992px) {
  .header__title {
    font-size: 28px;
  }
}

@media (min-width: 1200px) {
  .header__title {
    font-size: 34px;
  }
}

/* .main-header__item-list {
  display: flex;
  justify-content: flex-end;
  height: 100%;
  margin: 0;
} */

/* .main-header__item {
  list-style: none;
  padding: 0 15px;
} */

/* // Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... } */

.bgc {
  background-color: yellow;
}

.bgcc {
  background-color: red;
}
