.header__nav {
  margin: auto 0;
}

.header__item-list {
  margin: 0;
}

.header__btn,
.header__btn--logout {
  font: 400 16px 'Montserrat', sans-serif;
  letter-spacing: 0.5px;
}

.header__btn {
  color: #fff !important;
  background-color: #9ba2c1;
  border: none;
}

.header__btn--login {
  margin-left: 15px;
}

.flickity-carousel {
  margin: 15px 0;
}

@media (min-width: 992px) {
  .flickity-carousel {
    margin: 30px 0;
  }
}

.carousel-cell {
  width: 150px;
  height: 230px;
  margin-right: 15px;
  border-radius: 25px;
}

@media (min-width: 768px) {
  .carousel-cell {
    width: 190px;
    height: 230px;
    margin-right: 25px;
    border-radius: 25px;
  }
}

@media (min-width: 992px) {
  .carousel-cell {
    width: 500px;
    height: 320px;
    margin-right: 25px;
    border-radius: 25px;
  }
}

.register-login__container {
  margin: 40px 0;
  height: 180px;
  border: 1px solid #888;
  border-radius: 10px;
  background-color: #f9faf9;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%),
    0 1px 5px 0 rgb(0 0 0 / 12%);
}

@media (min-width: 992px) {
  .register-login__container {
    display: none;
  }
}

.register-login__title {
  font: 400 20px 'Montserrat', sans-serif;
  padding-top: 25px;
  text-align: center;
}

.register-login__button {
  width: 120px;
  height: 50px;
  margin: 0 10px;
  background-color: #9ba2c1;
  border: none;
}

.register-login__button a {
  font: 400 18px 'Montserrat', sans-serif;
  letter-spacing: 0.5px;
  color: #fff;
}

.register-login__button a:focus {
  text-decoration: none;
}

.main__title {
  color: #f9faf9;
}

.carousel-cell__image-0 {
  background: url('../images/house.jpg') center center no-repeat;
  background-size: cover;
}

.carousel-cell__image-1 {
  background: url('../images/mobile-register.png') center center no-repeat;
  background-size: cover;
}

.carousel-cell__image-2 {
  background: url('../images/mobile-user-page-1.png') center center no-repeat;
  background-size: cover;
}

.carousel-cell__image-3 {
  background: url('../images/mobile-user-page-expense.png') center center
    no-repeat;
  background-size: cover;
}

@media (min-width: 992px) {
  .carousel-cell__image-0 {
    background: url('../images/house.jpg') center center no-repeat;
    background-size: contain;
  }

  .carousel-cell__image-1 {
    background: url('../images/desktop-register.png') center center no-repeat;
    background-size: contain;
  }

  .carousel-cell__image-2 {
    background: url('../images/desktop_user-page-1.png') center center no-repeat;
    background-size: contain;
  }
  .carousel-cell__image-3 {
    background: url('../images/desktop_user-page.png') center center no-repeat;
    background-size: contain;
  }
}

.carousel__container {
  padding: 10px 0;
  border-radius: 10px;
  background-color: #9ba2c1;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%),
    0 1px 5px 0 rgb(0 0 0 / 12%);
}
