.main-container {
  margin: 50px 15px;
}

.span-login a {
  text-decoration: none;
  outline: none;
  color: #000;
}

.span-login a:hover {
  text-decoration: none;
  color: #000;
}

.form-container {
  padding: 15px 30px 110px;
  border: 1px solid #888;
  border-radius: 10px;
}

.form__signin-btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0 0 0;
  width: 160px;
  height: 40px;
  font: 400 18px 'Montserrat', sans-serif;
  letter-spacing: 0.5px;
  border-radius: 11px;
}

.form__input {
  border-radius: 11px;
}

label {
  font-weight: bold;
}

.form__smallText {
  position: absolute;
  left: 50%;
  top: 88%;
  transform: translateX(-50%);
}

.form__smallText--register {
  top: 86%;
}

.form__smallText--signin {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}
