.nav__item-list {
  margin: 10px 0 0;
}

.nav__item {
  flex-basis: 50%;
  text-align: center;
}

.nav__item-link {
  font: 400 16px 'Montserrat', sans-serif;
  height: 40px;
  vertical-align: middle;
  color: white;
}

.nav__item-link.active {
  color: black;
}

label {
  font-weight: bold;
}

.form__container {
  padding: 15px 30px 0;
  margin: 0 0 0;
}

@media (min-width: 992px) {
  .form__container {
    margin: 15px 0 0;
  }

  label {
    color: #f9faf9;
  }
}

.form__input {
  border-radius: 11px;
}

.form__update-budget-btn,
.form__add-expense-btn {
  margin: 20px 0 0;
  position: relative;
  left: 95%;
  transform: translateX(-100%);
  background-color: #64ab72;
  border: none;
  color: white;
}

.form__add-expense-btn {
  background-color: #f44336;
}

.form__update-budget-btn:hover {
  color: white;
  background-color: #44a757;
}

.form__add-expense-btn:hover {
  color: white;
  background-color: #fc2d1e;
}

@media (max-width: 767px) {
  #expenses,
  #budget {
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-bottom: 10px;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%),
      0 1px 5px 0 rgb(0 0 0 / 12%);
  }
}

@media (min-width: 992px) {
  .form__update-budget-btn,
  .form__add-expense-btn {
    min-width: 134px;
  }
}

@media (min-width: 992px) {
  #expenses,
  #budget {
    display: block;
    opacity: 1;
  }

  #form-expense,
  #form-budget {
    background-color: #8bafdc;
    border-radius: 10px;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%),
      0 1px 5px 0 rgb(0 0 0 / 12%);
    padding-bottom: 10px;
  }
}

.information {
  margin: 20px 0 0;
  background-color: #f9faf9;
  border-radius: 10px;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%),
    0 1px 5px 0 rgb(0 0 0 / 12%);
  padding: 10px 0;
}

@media (min-width: 992px) {
  .information {
    margin: 35px 0 20px;
    padding: 10px 0 5px;
  }
}

.information__icon {
  font-size: 30px;
}

.information__title,
.information__amount {
  text-align: center;
  font: 400 18px 'Montserrat', sans-serif;
}

.table {
  max-height: 360px;
  margin: 15px 0 0;
  overflow-y: auto;
}

.table td,
.table th {
  border: none;
}

.table__head:nth-last-child(1) {
  text-align: right;
}

.table__head {
  color: #9ba2c1;
}

.table-bgc {
  background-color: #f9faf9;
  border-radius: 10px;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%),
    0 1px 5px 0 rgb(0 0 0 / 12%);
}

@media (min-width: 992px) {
  .table {
    margin: 0;
  }

  .table-bgc {
    padding: 10px;
  }
}

.table__icon {
  font-size: 20px;
}

.table button {
  border: none;
  background: none;
  padding: 0 10px;
}

.table__buttons {
  display: flex;
  justify-content: flex-end;
  text-align: right;
}

.table__buttons form {
  max-width: 50px;
}

.alert-message {
  display: none;
}

@media (min-width: 992px) {
  .alert-message {
    display: block;
    top: 3%;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 99;
  }
}
