<%- include('includes/error-head.ejs') %>
<%- include('includes/nav.ejs') %>
    </header>
    <main class="main row justify-content-center">
      <div class="main__title-container">
        <p class="main__title">Some error occurred!</p>
        <p>We're working on fixing this, sorry for the inconvenience!</p>
      </div>
    </main>
<%- include('includes/scripts.ejs') %>
<%- include('includes/end.ejs') %>
