<%- include('includes/head.ejs') %>
<link rel="stylesheet" href="/flickity.css" media="screen" />
<link rel="stylesheet" href="/style/homepage.css" />
<%- include('includes/nav.ejs') %>
<main class="main row justify-content-center">
  <div class="main__title-container">
    <p class="main__title">Manage your budget</p>
  </div>
  <div class="flickity-carousel col-12">
    <div class="main-carousel">
      <div class="carousel-cell"></div>
      <div class="carousel-cell"></div>
      <div class="carousel-cell"></div>
      <div class="carousel-cell"></div>
      <div class="carousel-cell"></div>
    </div>
  </div>
</main>
<div class="register-login__container row justify-content-center">
  <p class="register-login__title col-12">Create an account or login</p>
  <button class="register-login__button btn btn-secondary col-4">
    <a href="/register">Register</a>
  </button>
  <button class="register-login__button btn btn-secondary col-4">
    <a href="/login">Sign in</a>
  </button>
</div>
<%- include('includes/scripts.ejs') %>
<script src="/flickity.pkgd.min.js"></script>
<script src="/js/flickity.js"></script>
<%- include('includes/end.ejs') %>
