<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=`, initial-scale=1.0" />
    <title>Home Budget App</title>
    <link rel="stylesheet" href="/style/homepage.css" />
  </head>
  <body>
    <header class="main-header">
      <h1 class="main-header__title">home budget app</h1>
      <nav class="main-header__nav">
        <ul class="main-header__item-list">
          <li class="main-header__item"><a href="/register">Register</a></li>
          <li class="main-header__item">
            <a href="/register/login">Log in</a>
          </li>
        </ul>
      </nav>
    </header>
    <main class="main">
      <div class="main__carousel-container">
        <p class="main__carousel-title">Manage your budget</p>
        <div class="main__carousel"></div>
      </div>
    </main>
  </body>
</html>
